################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/EnjoyAS2_Github_Public/FileContentIndex
/.vs/EnjoyAS2_Github_Public/v17/.wsuo
/.vs
